<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Vinatech</title>
    <meta name="description" content="">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <!-- Google Font -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Magra" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    
    
    <!-- Begin Page Loader -->
    <div id="page-loader">
        <div class="preload">
            <img src="<%= asset_path('preloader.svg')%>" alt="Loading" height="90" width="50"/>
        </div>
        <!-- //.preload -->
    </div>
    <!-- //End Page Loader -->



 <!-- Begin Navbar -->
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="nav-info">
                <p id="highlighted-list-item">GET A QUOTE</p>
                <p><span>(858) 635-9655</span></p>
        </div>
        <div class="top-hack container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#page-top"><img src="<%= asset_path('vinatechlogo.svg')%>"/></a>
                <h1>VINATECH ENGINEERING, Inc.</h1>
            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse navbar-rj-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Capabilities</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#">Services</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#">Gallery</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#">About</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.container -->
    </nav>
    <!-- //End Navbar -->



    <!-- Begin Intro Section -->
    <section id="intro" class="section ">
        <div id="video-container">
            <div class="video">
                <div id="carousel-intro-section" class="owl-carousel owl-theme">
                    <iframe id="myVideo" width='3080' height='2090' src="https://www.youtube.com/embed/oOx623GXyuY?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
                <!-- //.owl-carousel -->
            </div>
            <!--//.col-md-12 .video-->
        </div>


        <div class="intro-body text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 intro-content">
  
                        <div class="intro-text text-center col-md-10 col-md-offset-1">
                            <div id="big-header">
                                <p class="header-text-overlay">ONE STOP SHOP</p>
                            </div>
                            <h1>FROM DRAWING TO FINISHED PRODUCT</h1>
                            <h4 class="">Rapid Precision Sheet Metal Fabrication in San Diego, Ca.</h4>
                            <div class="overlay-buttons">
                                <div id="button-one" class="button-container">
                                    <button id="get-a-quote">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 135.3 169.3" style="enable-background:new 0 0 135.3 169.3;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:none;stroke:#bfbfbf;stroke-miterlimit:10;stroke-width:3;}
                                        .st1{fill:#FFFFFF;}
                                        .st2{font-family:'Raleway';}
                                        .st3{font-size:17px;}
                                        .st4{fill:none;stroke:#EA4934;stroke-width:8;stroke-miterlimit:10;}
                                        .st5{fill:none;stroke:#F5F6F7;stroke-width:2;stroke-miterlimit:10;}
                                        .st6{fill:none;stroke:url(#SVGID_1_);stroke-width:1.3;stroke-miterlimit:10;}
                                        .st7{fill:none;stroke:url(#SVGID_2_);stroke-width:1.3;stroke-miterlimit:10;}
                                    </style>
                                    <circle class="st0" cx="68.4" cy="85.3" r="46.5"/>
                                    <text transform="matrix(1 0 0 1 43.8777 80.5437)"><tspan x="0" y="0" class="st1 st2 st3">GET A </tspan><tspan x="-2.2" y="18" class="st1 st2 st3">QUOTE</tspan></text>
                                    <path class="st4" d="M47.2,116.2c-10-6.8-16.6-18.2-16.6-31.3c0-20.8,16.9-37.7,37.7-37.7S106,64.1,106,84.9"/>
                                    <path class="st5" d="M105.8,91.7c-3.2,17.6-18.6,30.9-37.1,30.9c-5.2,0-10.2-1.1-14.7-3"/>
                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="93.5635" y1="23.329" x2="125.0323" y2="23.329">
                                        <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.95"/>
                                        <stop  offset="0.6609" style="stop-color:#FFFFFF;stop-opacity:0.6512"/>
                                        <stop  offset="0.8369" style="stop-color:#FFFFFF;stop-opacity:0"/>
                                    </linearGradient>
                                    <line class="st6" x1="94.1" y1="45.5" x2="124.5" y2="1.2"/>
                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="13.4639" y1="143.6163" x2="41.1181" y2="143.6163">
                                        <stop  offset="0.1723" style="stop-color:#FFFFFF;stop-opacity:0"/>
                                        <stop  offset="0.3811" style="stop-color:#FFFFFF;stop-opacity:0.6512"/>
                                        <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0.95"/>
                                    </linearGradient>
                                    <line class="st7" x1="14" y1="163" x2="40.6" y2="124.2"/>
                                    </svg>
                                    </button>
                                </div>


                                <div id="button-two" class="button-container">
                                <button id="our-work">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 135.3 169.3" style="enable-background:new 0 0 135.3 169.3;" xml:space="preserve">

                                    <circle class="st0" cx="68.4" cy="85.3" r="46.5"/>
                                    <text transform="matrix(1 0 0 1 43.8777 80.5437)"><tspan x="5" y="0" class="st1 st2 st3">  OUR</tspan><tspan x="-2.2" y="18" class="st1 st2 st3">WORK</tspan></text>
                                    <path class="st4" d="M47.2,116.2c-10-6.8-16.6-18.2-16.6-31.3c0-20.8,16.9-37.7,37.7-37.7S106,64.1,106,84.9"/>
                                    <path class="st5" d="M105.8,91.7c-3.2,17.6-18.6,30.9-37.1,30.9c-5.2,0-10.2-1.1-14.7-3"/>
                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="93.5635" y1="23.329" x2="125.0323" y2="23.329">
                                        <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.95"/>
                                        <stop  offset="0.6609" style="stop-color:#FFFFFF;stop-opacity:0.6512"/>
                                        <stop  offset="0.8369" style="stop-color:#FFFFFF;stop-opacity:0"/>
                                    </linearGradient>
                                    <line class="st6" x1="94.1" y1="45.5" x2="124.5" y2="1.2"/>
                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="13.4639" y1="143.6163" x2="41.1181" y2="143.6163">
                                        <stop  offset="0.1723" style="stop-color:#FFFFFF;stop-opacity:0"/>
                                        <stop  offset="0.3811" style="stop-color:#FFFFFF;stop-opacity:0.6512"/>
                                        <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0.95"/>
                                    </linearGradient>
                                    <line class="st7" x1="14" y1="163" x2="40.6" y2="124.2"/>
                                    </svg>
                                </button>
                                </div>
                            </div>
                            <!--//.overlay-button-->
                        </div>
                        <!-- //.intro-text -->

                        <!-- //.page-scroll -->
                    </div>
                    <!-- //.intro-content -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //.intro-body -->
        <div id="curve"><img src="<%= asset_path('curve.svg')%>"/></div>
    </section>
    <!-- //End Intro Section -->


    <!-- Begin About Us Section -->
    <section id="about-us" class="section">
        <div class="section-inner">
            <div id="draft-image">
                <img style="opacity:0.2;" src="<%= asset_path('welcome_1.jpg')%>" alt="" class="img-responsive"/>       
            </div>
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-7  about-us-txt">
                        <div class="about-us-carousel">
                            <p>Our 24,000 square foot modern facility in San Diego, California is fully computerized to provide precision sheet metal fabrication, CNC machining, welding, hardware insertion, powder coating, silk screening, and many other services. We also offer research and design including product development through the prototype process.</p>
                            <p>Our company was formed in 1993 with the mission to provide precision parts with a fast turnaround time at a competitive rate. With over 40 years of mechanical engineering experi- ence, our employees have the e ciency and skill to deliver high-quality products and outstand- ing customer service. We currently serve a wide array of industries including defense, biotech, computer, and electronics. We serve customers big and small - from large corporations to anyone with an idea. There is no minimum requirement for our production runs.</p>
                            <p>Please contact our San Diego headquarters for more information on precision sheet metal fabrication, CNC machining, or any of our other products and services. We o er free quotes within 24 hours as well as free local delivery and pickup.</p>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-6 -->

                    <div id="welcome-ovelay" class="col-md-5 overlay-header">
                        <div class="about-us-text">
                            <div class="page-scroll shifted">
                                <a href="#meet-the-team" class="btn btn-lg"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                            </div>
                            <!-- //.page-scroll -->
                            <div class="main-title-container">
                                <h1 class="main-title">Welcome</h1>
                                <h3 class="sub-title">to Vinatech Engineering, Inc.</h3>
                            </div>
                        </div>
                        <!-- //.about-us-text -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>
                <!-- //.row -->

            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End About Us Section -->


    <!-- Services Section -->
    <section id="meet-the-team" class="section section-parallax-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>
            <div class="container section-content">
                <div class="row">
                   <div class="col-md-4 col-md-offset-7">
                        <div id="services-container">
                            <div class="page-scroll shifted">
                                <a href="#our-services" class="btn btn-lg"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                            </div>
                            <!-- //.page-scroll -->
                            <div class="main-title-container">
                                <h2 class="main-title overlay-title">Our Services</h2>
                            </div>
                        </div>
                        <!-- //.services-container -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>    
                <!-- //.row -->
            </div>
            <!--//.section-content-->
            <div id="meet-the-team-content" class="container-fluid">
                <div class="row full-width">
                    <div id="left-services" class="col-sm-12 col-md-7">
                        <div class="row">
                            <div id="top-services" class="col-md-12 team-item not-right-column top-column">
                                <div class="team-element">
                                    <div class="team-inner">
                                        <div class="team-detail">
                                            <div class="team-content">
                                                <h4>At Vinatech Engineering, Inc.,</h4>

                                                 <p>we get the job done right the  first time, quickly, and at an affordable rate. We offer full-service precision sheet metal fabrication in addition to CNC machining and other mechanical engineering services. No matter the size or scope of your project, the associates at our San Diego precision sheet metal fabrication shop have the experience and skill to exceed your expectations every time.</p>
                                            </div>
                                            <!-- //.team-content -->
                                        </div>
                                        <!-- //.team-detail -->
                                    </div>
                                    <!-- //.team-inner -->
                                    <img src="<%= asset_path('services_1.jpg')%>" alt="" class="img-responsive"/>
                                </div>
                                <!-- //.team-element -->
                            </div>
                            <!--.top-services-->
                        </div>
                        <!--.row-->
                        <div class="row bottom-services">
                            <div id="bottom-left-services" class="col-md-6 team-item not-right-column top-column">
                                <div class="team-element">
                                    <div class="team-inner">
                                        <div class="team-detail">
                                            <div class="team-content">
                                                <h4>Sheet Metal and Machining</h4>
                                                <p>Our sheet metal shop is equipped with the latest equipment and technology to serve your needs. Our extensive sheet metal equipment allows us to provide precision parts with a quick turnaround. With over 14 years of experience, our sta  is able to fabricate virtually any part imaginable. Whether you are looking for a prototype or mass production, our sheet metal shop can provide you with the highest quality parts.</p>
                                            </div>
                                            <!-- //.team-content -->
                                        </div>
                                        <!-- //.team-detail -->
                                    </div>
                                    <!-- //.team-inner -->

                                    <img src="<%= asset_path('services_3.jpg')%>" alt="" class="img-responsive"/>
                                </div>
                                <!-- //.team-element -->
                            </div>
                            <!--.bottom-left-services-->

                            <div id="bottom-right-services" class="col-md-6 team-item not-right-column top-column">
                                <div class="team-element">
                                    <div class="team-inner">
                                        <div class="team-detail">
                                            <div class="team-content">
                                                <h4>Complete Precision</h4>

                                                <p>At Vinatech Engineering, we use advanced technology and equipment to produce high-quality parts to your exact specifcations. Having multiple units allows us to  fill large orders in a very short amount of time.</p>
                                            </div>
                                            <!-- //.team-content -->
                                        </div>
                                        <!-- //.team-detail -->
                                    </div>
                                    <!-- //.team-inner -->

                                    <img class="image-hack" src="<%= asset_path('services_2.jpg')%>" alt="" class="img-responsive"/>
                                </div>
                                <!-- //.team-element -->
                            </div>
                            <!--.bottom-left-services-->
                        </div>
                        <!--row-->
                    </div>
                    <!-- //.col-sm-12 .col-md-8-->

                    <div id="right-services" class="col-sm-12 col-md-5 team-item not-right-column top-column">
                        <div id="content-boxes-text" class="content-boxes style-two top-column clearfix">
                            <ul>
                                <li class="content-list-text">Precision Sheet Metal Fabrication</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">CNC Machining</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Engineering and Design Consulting</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Research and Product Development</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Prototype Design and Fabrication</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Parts Rework</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Parts Assembly</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Welding</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Finishing</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Wet Paint and Powder Coating</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Silk Screening</li> 
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Waterjet Cutting</li>
                                    <!-- //.content-boxes-text -->
                            </ul>
                        </div>
                    </div>
                    <!-- //.team-item -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container-fluid -->
            <div id="curve"><img src="<%= asset_path('curve.svg')%>"/></div>
        </div>
        <!-- //.section-inner -->
    </section>  
    <!-- //End Our Services Section -->

    <!-- Begin Our Services Section -->
    <section id="our-services" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                   <div class="get-a-quote-text col-md-5 col-md-offset-7 overlay-header">
                        <div id="services-container-2">
                            <div class="page-scroll shifted">
                                <a href="#intro" class="btn btn-lg"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>

                            </div>
                            <!-- //.page-scroll -->
                            <div class="main-title-container">
                                <h2 class="main-title">We'd Like to Work With You</h2>
                            </div>
                        </div>
                        <!-- //.services-container -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>    
                <!-- //.row -->

                <div class="row get-a-quote-content">
                    <div class="col-sm-4 col-md-3 hack-overlay-text">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                <img class="fa fa-flask" src="<%=asset_path('certificate_two.png')%>"
                            </span>

                            <div class="funny-boxes-text">
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->

                    <div class="col-sm-4 col-md-3 hack-overlay-text">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                <img class="fa fa-flask"src="<%=asset_path('certificate_one.png'
                                )%>"
                            </span>

                            <div class="funny-boxes-text">
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->


                    <div id="bottom-buttons" class="col-sm-12 col-md-5 col-md-offset-1 hack-overlay-text">
                        <div class="row">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div id="hack-buttons" class="row">
                            <div class="col-md-6 hack-buttons-1">
                                <button id="submit" class="contact-buttons" type="submit" class="btn btn-lg btn-rj">
                                    Get a Quote
                                </button>
                            </div>
                            <div class="col-md-6 hack-buttons-2">
                                <button id="submit" class="contact-buttons" type="submit" class="btn btn-lg btn-rj">
                                    Our Work
                                </button>
                            </div>

                        </div>
                        <!-- //.form-group -->
                    </div>
                </div>
                <!-- //.row .get-a-row-content-->

            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Our Services Section -->


    <!-- Begin Quote Section -->
    <!-- //End Quote Section -->


    <!-- Begin Our Latest Work Section -->
    <!-- //End Our Latest Work Section -->


    <!-- Begin Keep In Touch Section -->
    <!-- //End Keep In Touch Section -->


    <!-- Begin Testimonials Section -->
    <!-- //End Testimonials Section -->


    <!-- Begin Our Pricing Section -->
    <!-- //End Our Pricing Section -->


    <!-- Begin Our History Section -->
    <!-- //End Our History Section -->


    <!-- Begin Contact Us Section -->
    <!-- //End Contact Us Section -->
    

    <!-- Begin Footer -->
    <footer class="footer">

        <!-- Begin Footer Section -->
        <section id="footer">
            <div class="container">    
                <div class="row">

                    <div class="col-sm-4 col-md-7 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>Location</h4>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->
                    <div class="col-sm-4 col-md-5 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>Get In Touch</h4>
                            <ul class="icon-list list-unstyled">
                                <li>
                                    <i class="fa fa-phone"></i> (858) 635-9655
                                </li>
                                
                                <li>
                                    <i class="fa fa-envelope-o"></i> no-reply@email.com
                                </li>
                                
                                <li>
                                    <i class="fa fa-map-marker"></i> 7747 Formula Place, San Diego, Ca 92126
                                </li>
                                
                                <li>
                                    <i class="fa fa-clock-o"></i> Monday to Friday - 8.30 PM to 17 PM
                                </li>
                            </ul>
                            
                            <ul class="social-icon-list list-unstyled list-inline">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                
                                <li class="hidden-xs">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //End Footer Section -->

        <!-- Begin Copyright -->
    </footer>
    <!-- //End Footer -->

    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<!--Plugins JS 
    <script src="assets/plugins/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/smartresize/smartresize.js"></script>
    <script src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/plugins/jquery-vide/jquery.vide.js"></script>
    <script src="assets/plugins/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script src="assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script> 
    <script src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    // <script src="assets/plugins/jquery-countdown/jquery.plugin.min.js"></script>
    <script src="assets/plugins/jquery-countdown/jquery.countdown.min.js"></script>
    <script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
  -->
  <!-- 
Main JS 
    <script src="assets/js/main.js"></script>
    
Animation JS (Optional) 
    <script src="assets/js/animation.js"></script>
    
 Component JS 
    <script src="assets/js/component/bar-chart.js"></script>
    <script src="assets/js/component/countdown.js"></script>
    <script src="assets/js/component/counters.js"></script>
    <script src="assets/js/component/pie-chart.js"></script>
    <script src="assets/js/component/portfolio.js"></script>
    <script src="assets/js/component/animation.js"></script>
    
-->   

</body>

</html>