<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Vinatech</title>
    <meta name="description" content="">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <!-- Google Font -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    
    
    <!-- Begin Page Loader -->
    <div id="page-loader">
        <div class="preload">
            <img src="<%= asset_path('preloader.gif')%>" alt="Loading"/>
        </div>
        <!-- //.preload -->
    </div>
    <!-- //End Page Loader -->
    

 <!-- Begin Navbar -->
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#page-top"><img src="<%= asset_path('vinatechlogo.svg')%>"/></a>
            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse navbar-rj-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#about-us">About</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#our-services">Services</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#get-a-quote">Get a Quote</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#gallery">Gallery</a>
                    </li>
                    
                </ul>
            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.container -->
    </nav>
    <!-- //End Navbar -->

    <!-- Begin Intro Section -->
    <section id="intro" class="section section-parallax-yes">
        <div id="video-container">
            <div class="video">
                <div id="carousel-intro-section" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="<%= asset_path('full_1.jpg')%>" alt="" class="img-responsive img-rounded"/>
                    </div>
                    <!-- //.item -->

                    <div class="item">
                        <img src="<%= asset_path('full_2.jpg')%>" alt="" class="img-responsive img-rounded"/>
                    </div>
                    <!-- //.item -->

                    <div class="item">
                        <img src="<%= asset_path('full_3.jpg')%>" alt="" class="img-responsive img-rounded"/>
                    </div>
                    <!-- //.item -->
                </div>
                <!-- //.owl-carousel -->
            </div>
            <!--//.col-md-12 .video-->
        </div>

        <div class="intro-body text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 intro-content">
<!--                         <div class="logo">
                            <h1>R</h1>
                        </div> -->
                        <!-- //.logo -->
                        
                        <div class="intro-text text-center">
                            <!-- <h2>Clean, Awesome and Multi-Purpose.</h2> -->

                            <p class="lead">Vinatech Engineering, Inc. is a full-service precision sheet metal fabrication and CNC machining facility. We offer a wide array of services to bring your idea or drawing to  nished product.</p>
                        </div>
                        <!-- //.intro-text -->

                        <div class="page-scroll">
                            <a href="#who-we-are" class="btn btn-lg btn-rj">Learn More</a>
                        </div>
                        <!-- //.page-scroll -->
                    </div>
                    <!-- //.intro-content -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //.intro-body -->
        <div id="curve"><img src="<%= asset_path('curve.svg')%>"/></div>
    </section>
    <!-- //End Intro Section -->


    <!-- Begin About Us Section -->
    <section id="about-us" class="section">
        <div class="section-inner">
            <div id="draft-image">
                <img style="opacity:0.2;" src="<%= asset_path('welcome_1.jpg')%>" alt="" class="img-responsive"/>       
            </div>
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-7  about-us-txt">
                        <div class="about-us-carousel">
                            <p>Our 24,000 square foot modern facility in San Diego, California is fully computerized to provide precision sheet metal fabrication, CNC machining, welding, hardware insertion, powder coating, silk screening, and many other services. We also offer research and design including product development through the prototype process.</p>
                            <p>Our company was formed in 1993 with the mission to provide precision parts with a fast turnaround time at a competitive rate. With over 40 years of mechanical engineering experi- ence, our employees have the e ciency and skill to deliver high-quality products and outstand- ing customer service. We currently serve a wide array of industries including defense, biotech, computer, and electronics. We serve customers big and small - from large corporations to anyone with an idea. There is no minimum requirement for our production runs.</p>
                            <p>Please contact our San Diego headquarters for more information on precision sheet metal fabrication, CNC machining, or any of our other products and services. We o er free quotes within 24 hours as well as free local delivery and pickup.</p>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-6 -->

                    <div class="col-md-4 col-md-offset-1">
                        <div class="about-us-text">
                            <h1 class="main-title">Welcome</h1>
                            <h3 class="sub-title">to Vinatech Engineering, Inc.</h3>

                            <div class="page-scroll">
                                <a href="#" class="btn btn-lg btn-rj">Read More</a>
                            </div>
                            <!-- //.page-scroll -->
                        </div>
                        <!-- //.about-us-text -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>
                <!-- //.row -->

            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End About Us Section -->


    <!-- Services Section -->
    <section id="meet-the-team" class="section section-parallax-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>
            <div class="container section-content">
                <div class="row">
                   <div class="col-md-4 col-md-offset-8">
                        <div id="services-container">
                            <h2 class="main-title overlay-title">Our Services</h2>
                            <div class="page-scroll">
                                <a href="#" class="btn btn-lg btn-rj">Read More</a>
                            </div>
                            <!-- //.page-scroll -->
                        </div>
                        <!-- //.services-container -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>    
                <!-- //.row -->
            </div>
            <!--//.section-content-->
            <div class="container-fluid">
                <div class="row full-width">
                    <div id="left-services" class="col-sm-12 col-md-8">
                        <div class="row">
                            <div id="top-services" class="col-md-12 team-item not-right-column top-column">
                                <div class="team-element">
                                    <div class="team-inner">
                                        <div class="team-detail">
                                            <div class="team-content">
                                                <h4>At Vinatech Engineering, Inc.,</h4>

                                                 <p>we get the job done right the  first time, quickly, and at an affordable rate. We offer full-service precision sheet metal fabrication in addition to CNC machining and other mechanical engineering services. No matter the size or scope of your project, the associates at our San Diego precision sheet metal fabrication shop have the experience and skill to exceed your expectations every time.</p>
                                            </div>
                                            <!-- //.team-content -->
                                        </div>
                                        <!-- //.team-detail -->
                                    </div>
                                    <!-- //.team-inner -->
                                    <img src="<%= asset_path('services_1.jpg')%>" alt="" class="img-responsive"/>
                                </div>
                                <!-- //.team-element -->
                            </div>
                            <!--.top-services-->
                        </div>
                        <!--.row-->
                        <div class="row bottom-services">
                            <div id="bottom-left-services" class="col-md-6 team-item not-right-column top-column">
                                <div class="team-element">
                                    <div class="team-inner">
                                        <div class="team-detail">
                                            <div class="team-content">
                                                <h4>Sheet Metal and Machining</h4>
                                                <p>Our sheet metal shop is equipped with the latest equipment and technology to serve your needs. Our extensive sheet metal equipment allows us to provide precision parts with a quick turnaround. With over 14 years of experience, our sta  is able to fabricate virtually any part imaginable. Whether you are looking for a prototype or mass production, our sheet metal shop can provide you with the highest quality parts.</p>
                                            </div>
                                            <!-- //.team-content -->
                                        </div>
                                        <!-- //.team-detail -->
                                    </div>
                                    <!-- //.team-inner -->

                                    <img src="<%= asset_path('services_3.jpg')%>" alt="" class="img-responsive"/>
                                </div>
                                <!-- //.team-element -->
                            </div>
                            <!--.bottom-left-services-->

                            <div id="bottom-right-services" class="col-md-6 team-item not-right-column top-column">
                                <div class="team-element">
                                    <div class="team-inner">
                                        <div class="team-detail">
                                            <div class="team-content">
                                                <h4>Complete Precision</h4>

                                                <p>At Vinatech Engineering, we use advanced technology and equipment to produce high-quality parts to your exact specifcations. Having multiple units allows us to  fill large orders in a very short amount of time.</p>
                                            </div>
                                            <!-- //.team-content -->
                                        </div>
                                        <!-- //.team-detail -->
                                    </div>
                                    <!-- //.team-inner -->

                                    <img src="<%= asset_path('services_2.jpg')%>" alt="" class="img-responsive"/>
                                </div>
                                <!-- //.team-element -->
                            </div>
                            <!--.bottom-left-services-->
                        </div>
                        <!--row-->
                    </div>
                    <!-- //.col-sm-12 .col-md-8-->

                    <div id="right-services" class="col-sm-12 col-md-4 team-item not-right-column top-column">
                        <div id="content-boxes-text" class="content-boxes style-two top-column clearfix">
                            <ul>
                                <li class="content-list-text">Precision Sheet Metal Fabrication</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">CNC Machining</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Engineering and Design Consulting</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Research and Product Development</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Prototype Design and Fabrication</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Parts Rework</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Parts Assembly</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Welding</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Finishing</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Wet Paint and Powder Coating</li>
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Silk Screening</li> 
                                    <!-- //.content-boxes-text -->
                                <li class="content-list-text">Waterjet Cutting</li>
                                    <!-- //.content-boxes-text -->
                            </ul>
                        </div>
                    </div>
                    <!-- //.team-item -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container-fluid -->
            <div id="curve"><img src="<%= asset_path('curve.svg')%>"/></div>
        </div>
        <!-- //.section-inner -->
    </section>  
    <!-- //End Our Services Section -->



    <!-- Begin Fun Fact Section -->
    <!-- //End Fun Fact Section -->


    <!-- Begin Why Us Section -->
    <!-- //End Why Us Section -->


    <!-- Begin Our Main Skills Section -->
    <!-- //End Our Main Skills Section -->


    <!-- Begin Our Services Section -->
    <section id="our-services" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Our Services</h3>

                            <h4 class="sub-title">We Are Experts In Developing Your Business</h4>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>    
                <!-- //.row -->

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </span>

                            <div class="funny-boxes-text">
                                <h4>Web Design</h4>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->

                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                <i class="fa fa-heart-o"></i>
                            </span>

                            <div class="funny-boxes-text">
                                <h4>Graphic Design</h4>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->

                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow text-center">
                            <span class="funny-boxes-icon">
                                <i class="fa fa-flask"></i>
                            </span>

                            <div class="funny-boxes-text">
                                <h4>Branding</h4>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Our Services Section -->


    <!-- Begin Quote Section -->
    <!-- //End Quote Section -->


    <!-- Begin Our Latest Work Section -->
    <!-- //End Our Latest Work Section -->


    <!-- Begin Keep In Touch Section -->
    <!-- //End Keep In Touch Section -->






    <!-- Begin Testimonials Section -->
    <!-- //End Testimonials Section -->


    <!-- Begin Our Pricing Section -->
    <!-- //End Our Pricing Section -->


    <!-- Begin Our History Section -->
    <section id="our-history" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Our History</h2>

                            <h3 class="sub-title">Travel Through Time With Us!</h3>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>    
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- Begin Timeline -->
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>

                                        <img src="<%= asset_path('timeline-image-1.jpg')%>" alt="" class="img-responsive">
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Gunung Rinjani adalah gunung yang berlokasi di Pulau Lombok, Nusa Tenggara Barat. Gunung ini merupakan bagian dari Taman Nasional Gunung Rinjani yang memiliki luas sekitar 41.330 ha.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>

                                        <img src="<%= asset_path('timeline-image-2.jpg')%>" alt="" class="img-responsive">
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Gunung ini merupakan gunung favorit bagi pendaki Indonesia karena keindahan pemandangannya. Gunung ini merupakan bagian dari Taman Nasional Gunung Rinjani yang memiliki luas sekitar 41.330 ha.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>

                                        <img src="<%= asset_path('timeline-image-3.jpg')%>" alt="" class="img-responsive">
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Dan akan diusulkan penambahannya sehingga menjadi 76.000 ha ke arah barat dan timur. Secara administratif gunung ini berada dalam wilayah tiga kabupaten: Lombok Timur, Lombok Tengah dan Lombok Barat.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>

                                        <img src="<%= asset_path('timeline-image-4.jpg')%>" alt="" class="img-responsive">
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Gunung Rinjani adalah gunung yang berlokasi di Pulau Lombok, Nusa Tenggara Barat. Gunung ini merupakan bagian dari Taman Nasional Gunung Rinjani yang memiliki luas sekitar 41.330 ha.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                        </ul>
                        <!-- //End Timeline -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Our History Section -->


    <!-- Begin Contact Us Section -->
    <section id="contact-us" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Contact Us</h3>

                            <h4 class="sub-title">Don't Hesitate To Contact Us</h4>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-respond text-center"></div>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <form action="contact/send_mail.php" method="post" name="contact-us-form" id="contact-us-form" class="element-line validate contact-us-form" role="form">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="form-group">
                                <label for="name">Name*</label>

                                <div class="input-group input-group-lg">
                                    <input type="text" name="name" id="name" class="form-control required" placeholder="Enter name">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group">
                                <label for="email">Email*</label>

                                <div class="input-group input-group-lg">
                                    <input type="email" name="email" id="email" class="form-control required email" placeholder="Enter email">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group form-group-bottom">
                                <label for="subject">Subject*</label>

                                <div class="input-group input-group-lg">
                                    <input type="text" name="subject" id="subject" class="form-control required" placeholder="Enter subject">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-md-5 col-md-offset-1 -->

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="message">Message*</label>

                                <div class="input-group input-group-lg">
                                    <textarea name="message" id="message" class="form-control required" placeholder="Enter Message"></textarea>
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group form-group-bottom">
                                <button id="submit" type="submit" class="btn btn-lg btn-rj">
                                    Send Message
                                </button>
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-md-5 -->
                    </form>
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="social-icon-text text-center">
                            <h2>OR</h2>

                            <h4>Find Us On Social Media!</h4>

                            <ul class="social-icon-list list-unstyled list-inline text-center">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>

                                <li class="hidden-xs">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.social-icon-text -->
                    </div>
                    <!-- //.col-md-10 col-md-offset-1 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Contact Us Section -->
    

    <!-- Begin Footer -->
    <footer class="footer">

        <!-- Begin Footer Section -->
        <section id="footer">
            <div class="container">    
                <div class="row">
                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>Get In Touch</h4>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla rebds vel pellentesqu</p>
                            
                            <ul class="icon-list list-unstyled">
                                <li>
                                    <i class="fa fa-phone"></i> +622176811
                                </li>
                                
                                <li>
                                    <i class="fa fa-envelope-o"></i> no-reply@rinjani.com
                                </li>
                                
                                <li>
                                    <i class="fa fa-map-marker"></i> 14374 Salemba Raya, Central Jakarta
                                </li>
                                
                                <li>
                                    <i class="fa fa-clock-o"></i> Monday to Friday - 8.30 PM to 17 PM
                                </li>
                            </ul>
                            
                            <ul class="social-icon-list list-unstyled list-inline">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                                
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                
                                <li class="hidden-xs">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->

                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>About Us</h4>
                            
                            <p>Gunung Rinjani adalah gunung yang berlokasi di Pulau Lombok, Nusa Tenggara Barat. Gunung ini merupakan gunung favorit bagi pendaki Indonesia karena keindahan pemandangannya. Gunung ini merupakan bagian dari Taman Nasional Gunung Rinjani yang memiliki luas sekitar 41.330 ha dan ini akan diusulkan penambahannya sehingga menjadi 76.000 ha ke arah barat dan timur. Secara administratif gunung ini berada dalam wilayah tiga kabupaten: Lombok Timur, Lombok Tengah dan Lombok Barat.</p>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->

                    <div class="col-sm-4 col-md-4 footer-column">
                        <div class="footer-text">
                            <h4>Newsletter</h4>
                            
                            <p>Keep yourself up to date!</p>
                            
                            <form role="form" class="newsletter-form">
                                <div class="form-group">
                                    <label for="email_address">Email Address*</label>
                                    <input type="email" id="email_address" class="form-control">
                                </div>
                                
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input type="text" id="first_name" class="form-control">
                                </div>
                                
                                <button type="submit" class="btn btn-rj">Subscribe</button>
                            </form>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //End Footer Section -->

        <!-- Begin Copyright -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy; 2016 <a href="#">Rinjani.</a></p>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //End Copyright -->
    </footer>
    <!-- //End Footer -->

    <%= javascript_include_tag 'application' %>
<!--Plugins JS 
    <script src="assets/plugins/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/smartresize/smartresize.js"></script>
    <script src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/plugins/jquery-vide/jquery.vide.js"></script>
    <script src="assets/plugins/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script src="assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script> 
    <script src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    // <script src="assets/plugins/jquery-countdown/jquery.plugin.min.js"></script>
    <script src="assets/plugins/jquery-countdown/jquery.countdown.min.js"></script>
  -->
    <script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
  <!-- 
Main JS 
    <script src="assets/js/main.js"></script>
    
Animation JS (Optional) 
    <script src="assets/js/animation.js"></script>
    
 Component JS 
    <script src="assets/js/component/bar-chart.js"></script>
    <script src="assets/js/component/countdown.js"></script>
    <script src="assets/js/component/counters.js"></script>
    <script src="assets/js/component/pie-chart.js"></script>
    <script src="assets/js/component/portfolio.js"></script>
    <script src="assets/js/component/animation.js"></script>
    
-->   

</body>

</html>